*{
    box-sizing:border-box!important;
}
html, body {
    margin: 0px!important;
    padding: 0px!important;
  }



.col{
    padding: 0px!important;
    margin: 0px!important;
}

h3{
    padding: 0px!important;
    margin: 0px!important;
}

h1{
    padding: 0px!important;
    margin: 0px!important;
}

h2{
    padding: 0px!important;
    margin: 0px!important;
}
div{
    margin: 0px!important;
    padding: 0px!important;
}

.box{
    margin: 0!important;
    padding: 0!important;
}

#header{
    background-color: #3e6375;
}



#logoContainer{
    align-items: end;
    display: flex;
    flex-wrap: wrap;
}


#footer{
    margin-top: auto !important;
    margin-top: 5px;
}

#footer-row {
    justify-content: center; /* Center horizontally */
    background-color: #3e6375;
    margin-top: 5px;
    color: lightgray
}

a:visited{
    color: lightgrey;

   

}

a:link{
    color: lightgrey;


}

#general-box{
    margin: 0px;
    padding: 0px;

    
}
#logo{
    width:250px;
    height:250px;
    float: left;
    margin-right: 15px;
}

.row{
    width: 100%;
    margin: 0;
    padding: 0;
}

#navbar{
    overflow: hidden;
    
   
}

.navbar-brand{
    font-size: 30px!important;
    color: lightgray !important;
   
}

.container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.aboutImages{
    max-width: 100%;
    max-height: 100%;
}



.aboutText{
    padding: 3%;
}

.card{
    margin: 25px!important;
}

/* #banner{
    width: fit-content;
} */

#mealsMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#coffeeMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#otherMenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#formArea{
    margin: auto;

}

.form-control{
    width: 500px !important;
}


#main{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#contactCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

@media (max-width: 768px) {

    .navbar-brand{
        font-size: 20px!important;
        margin-left: 5px;
    }
    
   #logoContainer {
        flex-direction: column;
        align-items: center; 
    }
    .navbar {
        width: 100%; 
        text-align: center; 
    } 
    .form-control{
        width: 350px !important;
    }
}